<div class="jumbotron">
    <h1 class="display-4"><strong>Ode to Pizza  <i class="fas fa-pizza-slice"></i></strong></h1>
    <p class="lead"><strong>Vote for your favorite pizza spot ... or find a new favorite!</strong></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6"> 
        <h3>Team Thin Crust!</h3>
        <div class="row">
            <div class="col-md-12"> 
                <p class="spacing"></p>
            </div>
        </div>
        <% for spot in @spots %>
            <% if spot[:thincrust] == "Yes" %>
                <p>
                    <a href="/spots/<%= spot[:id] %>"><%= spot[:name] %></a>
                    <%= spot[:address] %>
                </p> 
            <% else %>
            <% end %>
        <% end %>
    </div>
    <div class="col-md-6"> 
        <h3>Team Deep Dish!</h3>
        <div class="row">
            <div class="col-md-12"> 
                <p class="spacing"></p>
            </div>
        </div>
        <% for spot in @spots %>
            <% if spot[:thincrust] == "No" %>
                <p><a href="/spots/<%= spot[:id] %>"><%= spot[:name] %></a>
                <%= spot[:address] %>
                </p>
            <% else %>
            <% end %>
        <% end %>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <p class="spacing_bottom"></p>
        </div>
    </div>
</div>