<h1><%= @spot[:name] %></h1>
<p><%= @spot[:address] %></p>

<h3>Likes</h3>
<p><%= @vote_count %></p>

<a href="/spots/<%= @spot[:id] %>/votes/new" class="btn btn-primary">Vote now!</a>

<% for vote in @votes %>
  <% if vote[:like] %>
    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
  <% else %>
    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
  <% end %>
    <%= @users_table.where(id: vote[:user_id]).to_a[0]%>
    <%= vote[:comments] %> 
<% end %>

